{% extends 'index.html' %}

{% block body %}
{% from "includes/_formhelpers.html" import render_field3 %}


<br><h1>Add Employee About Information </h1><br><br>
Please note that any changes made will be implemented immediately<br><br>
<form class="form" action="{{ url_for('administration_about.add_about_post') }}" method='post' enctype="multipart/form-data">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
  {{ render_field3(form.first, class_="form-control")}}
  {{ render_field3(form.last, class_="form-control")}}
  {{ render_field3(form.position, class_="form-control")}}
  {{ render_field3(form.email, class_="form-control")}}
  {{ render_field3(form.phone, class_="form-control")}}

  <dt><label>Picture</label><br>
  <img id="img-preview" src="" class="hidden img-fluid" alt="Responsive image"></img>
  <input id="file-upload" type="file" class="file-upload" name="user_file"><br><br><br>
  <button class="btn btn-info" type="submit">Upload</button>
</form>

<script type='text/javascript' src="{{ url_for('static',filename='js/img_render.js') }}"></script>


{% endblock %}
