{% extends 'index.html' %}

{% block body %}

{% from "includes/_formhelpers.html" import render_field %}
<br><h1>Email Settings</h1><br><br>
<div>All completed forms are sent to recipients through "{{parent_email}}." If you need to change this email, notify a developer.</div><br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Forms</th>
      <th scope="col">Recipients</th>
      <th scope="col">Add Recipient</th>
    </tr>
  </thead>
  <tbody>
    {% for f in forms %}
    <tr>
      <td>{{f.name}}</td>
      <td>
        <div class="container">
          {% for e in f.recipients %}
          <div class="row mt-1">
            <div class="col-md-6">
              {{e.email}}
            </div>
            <div class="col-md-6">
              <form class="" action="{{ url_for('administration_emails.delete_email') }}" method='post'>
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <input type="hidden" name="role" value="{{f.name}}">
                <input type="hidden" name="email" value="{{e.email}}">
                <input type="submit" class="btn btn-info" value="delete">
              </form>
            </div>
          </div>
          {% endfor %}
        </div>
      </td>
      <td>
        <form class="" action="{{ url_for('administration_emails.add_email') }}" method='post'>
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
          <input type="hidden" name="role" value="{{f.name}}">
          <input name="email" >
          <input type="submit" class="btn btn-info" value="submit">
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<br><br>

{% endblock %}
