html, body {
  margin: 0;
  padding: 0;
  /* font-family: 'Molengo', sans-serif!important; */
  font-family: 'Gill Sans', sans-serif !important;
  height: calc(100% + 150px);
  /* overflow-x: hidden; */
}

/* NAVBAR (ON SCROLL, COLLAPSIBLE) */

.topnav {
  /*overflow: hidden;*/
  /* background-color: rgba(255, 255, 255, 0.8); */
  /* border: 1px solid black; */
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.2));
  width: 100%;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  position: fixed;
}

.topnav a {
  float: left;
  /* display: block; */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;

}


.active .logo{
  margin-right: 1em!important;
}

.logo {
  /* -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; */

}

.topnav .icon {
  display: none;
}

.my-dropdown {
    float: left;
    overflow: hidden;
}

.my-dropdown .dropbtn {
    font-size: 18px;
    border: none;
    outline: none;
    color: white;
    padding: 22px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;

    display: inline-block;
   position: relative;
   text-decoration: none;
   font-family: 'Questrial', sans-serif!important;
   /* font-weight: 400!important; */

}

.rightBtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    padding: 22px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;

    display: inline-block;
    position: relative;
    text-decoration: none;
    font-family: 'Questrial', sans-serif!important;
    /* font-weight: 400!important; */
}

.right-nav {
  float: right;
}

.rightBtn:hover{
  /* background-color: rgba(255, 255, 255, 0.1); */
}
.rightBtn a:focus {
  text-decoration: none;
}

.right-button:hover{
  color: white;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.6);
    z-index: 1;
    width: inherit;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-weight: lighter;
    font-family: 'Questrial', sans-serif!important;
    font-weight: lighter!important;
    font-size: 16.5px;
}

.my-dropdown:hover .dropbtn {
  /* background-color: #555; */
  color: black;
  background-color: rgba(255, 255, 255, 0.1);

}

.my-dropdown:hover .dropbtn a{
  color: black;

}

.dropdown-content a:hover {
  background-color: rgba(255, 255, 255, 0.4);
  color: black;
}

.dropbtn a:focus {
  text-decoration: none;
}

.my-dropdown:hover .dropdown-content {
    display: block;
}


/* RED UNDERLINE ON HOVER */
/* commented out until i figure how to make dropdown-content full width */


/* .hover-1:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #E2061B;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s;
}
.hover-1:hover:after {
  transform-origin: bottom left;
  transform: scaleX(1);
} */


@media screen and (max-width: 1550px) {
  .topnav a {
    /* padding: 10px 16px; */
    font-size: 15px;
  }
  .my-dropdown .dropbtn {
    padding: 22px 16px;

  }
  .logo {
    padding-top: 4px;
    width: 180px!important;
  }

}

@media screen and (max-width: 1411px) {
  .topnav a {
    padding: 8px 8px;
    font-size: 15px;
  }
  .my-dropdown .dropbtn {
    padding: 22px 10px;

  }
  .logo {
    padding-top: 7px;
    width: 160px!important;
  }
  .topnav {
    padding: 0!important;
  }
  .dropdown-content a {

      padding: 14px 22px;
      /* font-size: 16.5px; */
  }
}

@media screen and (max-width: 1202px) {
  .topnav a:not(:first-child), .my-dropdown .dropbtn, .right-nav .rightBtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav {
    /* background-color: white!important; */
  }
  .hover-1, .right-button {
    color: black!important;
    /* pointer-events: none; */
  }
  .active {
    /* border-bottom: 1px solid lightgrey; */
  }

  .right-nav {
    border-top: 1px solid lightgrey;
  }
  .right-button {
    padding-left: 0!important;
  }
  .my-dropdown:hover .dropdown-content {
      display: none;
  }
  .logo {
    padding-top: 0;
  }
}

@media screen and (max-width: 1202px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .my-dropdown, .topnav.responsive .right-nav {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .my-dropdown .dropbtn,
  .topnav.responsive .right-nav .rightBtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}

/*
.navbar-default .navbar-nav li a {
  color: white;
  font-size: 15px;
  font-weight: lighter;
}
.navbar {
  border: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background: none;
}
.navbar-brand {
  padding-top: 0 !important;
}
.bootstrap-nav {
  font-size: 40px;
}
.bootstrap-navbar {
  background: rgba(0, 0, 0, 0.8);
  border: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
  min-height: 70px;
  font-size: 40px;
  border-radius: 0;
}
.navbar-nav .open .dropdown-menu>li>a {
  color: black;
  font-size: 15px;
  line-height: 30px;
  text-transform: uppercase;
}
.navbar-nav>li>a {
  padding-top: 0;
  padding-bottom: 0;
  line-height: 50px;
  font-size: 25px;
}
.nav-item>a {
  font-size: 20px !important;
}
@media only screen and (min-width: 1200px) {
  .navbar-inverse {
    font-size: 20px;
  }
  .navbar-nav .open .dropdown-menu {
    text-align: left;
  }
  .navbar-nav .open .dropdown-menu>li>a {
    font-size: 16px;
    line-height: 40px;
  }
  .navbar-nav>li>a {
    padding: 0.5em;
    font-size: 30px;
    text-transform: capitalize;
    font-weight: normal;
  }
} */

/* HEADER (NAVBAR BEFORE SCROLL) */


/* HOME */

.title-home-banner {
  position: relative;
  margin: 4.5em 4em 0 4em;
  font-size: 40px;
  color: white;
  margin-bottom: 0;
  letter-spacing: 0.1em;
  text-align: center;
  font-family: 'Gill Sans', sans-serif !important;
  font-weight: lighter;

}

.home-inner {
  vertical-align: middle;
  text-align: center;
  display: table;
}

.home-map {
  height: 400px;
  margin-bottom: 10em;
}

.home-col {
  padding: 5em 5em 0 0em;
}
.home-p {
  font-size: 25px;
  line-height: 42px;
}

.home-row {

}
.home-grid {
  width: 80%;
}

.custom-image img {
  display: block;
}
.custom-card {
  /* padding: 10px 16px; */
  margin-bottom: 0!important;
  vertical-align: middle!important;
  line-height: 40px!important;

}

.home-card {
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.2));
  margin-bottom: 1em;
}
.custom-card p {
  color: black;
  font-size: 20px;
}

@media only screen and (max-width: 767px) {
  .card-row {
    margin: 0.5em 3em;
  }
  .home-card {
    margin-bottom: 4em!important;
  }
}


@media only screen and (max-width: 991px) {
  .home-col {
    padding: 3em 0 0 0;
  }
}

@media only screen and (max-width: 930px) {

  .title-home-banner {
    margin: 4.5em 1em 0 1em;
    font-size: 35px;
    line-height: 45px;

  }
}
@media only screen and (max-width: 720px) {

  .title-home-banner {
    font-size: 25px;
    margin: 7em 1em 0 1em;
    line-height: 35px;
  }
}

@media only screen and (max-width: 426px) {

  .title-home-banner {
    font-size: 25px;
    margin: 7.5em 1em 0 1em;
    line-height: 30px;

  }
}
@media only screen and (max-width: 319px) {

  .title-home-banner {
    font-size: 25px;
    margin: 7em 0 0 0;
  }
}


/* PROPERTY MANAGEMENT / GENERAL */

.img-banner {
  /* width:90%; */
  margin: 0 auto;
  background-size: cover;
  height: 400px;
  width: 100%;
}

.title-banner {
  /* margin-top: 100px!important; */
  font-size: 70px;
  color: white;
  letter-spacing: 0.1em;
  font-family: 'Gill Sans', sans-serif !important;
  font-weight: lighter;
}

.title-lower-banner {
  margin-top: 150px!important;
}

@media only screen and (max-width: 575px) {
  .title-banner {
    font-size: 55px;
  }
}

@media only screen and (max-width: 400px) {
  .title-banner {
    font-size: 40px;
    line-height: 50px;
  }
}

@media only screen and (max-width: 300px) {
  .title-banner {
    font-size: 20px;
    line-height: 40px;
  }
}


.desc-container {
  padding: 3em 0 2em 0;
  text-align: center;
}

#areas {
  padding-bottom: 1em;
}

.title-container {
  text-align: center;
  padding-top: 1px;
}

.description {
  margin: 0 10em;
  font-size: 18px;
}

.areas {
  width: 400px;
  border-radius: 0;
}

.dropdown-menu {
  margin-top: 0;
  border-radius: 0;
}

.tab-desc {
  padding: 2em 10em;
  font-size: 18px;
}

.centerBlock {
  display: table;
  margin: auto;
}

.button-form {
  background-color: black;
  color: white;
  font-size: 20px;
  width: 8em;
  padding: 0.3em;
  text-align: center;
  border: none!important;
}

.schedule-form {
  border-radius: 0;
}

.form-text {
  text-align: left;
  font-size: 16px;

}

.form-message {
  margin-bottom: 2em!important;
}
.form-select {
  margin-bottom: 1em!important;
}
.form-input {
  width: 100%!important;
}


.city-list {
  font-size: 18px !important;
  border-radius: 0 !important;
}

.cascader {
  width: 80%!important;
  font-family: 'Gill Sans', sans-serif !important;

}

.ant-cascader-menus {
  /* font-size: 20px!important; */
  /* line-height: 30px!important; */
  /* background: red!important; */
  /* position: absolute; */
  /* z-index: @zindex-dropdown;
  border-radius: @border-radius-base;
  box-shadow: @box-shadow-base;
  white-space: nowrap; */
  font-family: 'Gill Sans', sans-serif !important;

}

.ant-cascader-menu {
    display: inline-block;
    vertical-align: top;
    /* min-width: 111px; */
    /* list-style: none; */
    margin: 0;
    padding: 0;
    overflow: auto;
    /* line-height: 50px!important; */
    font-family: 'Gill Sans', sans-serif !important;

  }

  .ant-cascader-menu-item {
    font-size: 18px!important;
    line-height: 30px!important;
    min-width: 150px;
    padding: 0.4em 2em 0.4em 0.8em!important;
    font-family: 'Gill Sans', sans-serif !important;

  }

    .ant-cascader-menu-item-active {
      font-weight: normal!important;
  }

/* AVAILABLE PROPERTIES -- SEARCH */

.search-select span {
  display: block;
  cursor: pointer;
  text-align: left;
  margin-left: 1em;
  color: grey;
}
.search-select ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
.search-select li {
  padding: 0.8em 1em;

}
.search-select li:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
}
ul.max {
  text-align: right;
}
ul.min {
  text-align: left;
}
.search-select {
  /* border: 1px solid #222; */
  line-height: 50px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
  font-size: 18px;
  overflow: visible!important;
  width: 230px;

}
.b-select {
  /* width: 100px!important; */
}
.r-select {
  max-width: 200px!important;
  margin: 4em;
}

.search-content {
  padding-top: 0.3em;
  position: absolute!important;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  line-height: 20px;
  border-top: 1px solid lightgrey;
  width: 230px;
  font-size: 15px;
  overflow: scroll!important;
  z-index: 100!important;
  max-height: 300px;
  scroll-behavior: smooth;
}
.search-content-inputs {
  border-bottom: 1px solid lightgrey;
}
.search-content-inputs input[type=text]{
  width: 40%;
  margin: 1em 0.2em;
  border: 1px solid lightgrey;
  line-height: 25px;
  padding-left: 0.4em;
}
input[type=text].input-left  {
  margin-right: 0.7em;
}
input[type=text].input-right  {
  margin-left: 0.7em;
}

.search-cont {
  margin-top: 0.1em;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 1.5em 0 2em 0;
  margin: 0 auto;
}

/* .search-col {
  background-color: red !important;
   display: block;
  vertical-align: middle;
  line-height: 25px!important;
} */
.search-button {
  background-color: darkred !important;
  border-radius: 0 !important;
  border: none !important;
  font-size: 20px!important;
}

.ant-btn {
  height: 100%!important;
  color: white!important;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.ant-btn:hover {
  background-color: rgba(0, 0, 0, 0.7)!important;
  color: white!important;
}
.ant-btn:active {
  color: black!important;
}


.search-tabs ul>li>a {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border-radius: 0;
  width: 9em;
}

.search-tabs ul>li.active>a, .search-tabs ul>li.active>a:hover, .search-tabs ul>li.active>a:focus {
  background-color: rgba(0, 0, 0, 0.9);
}

.search-tabs ul>li>a:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

.search-tabs {
  width: 70%;
  margin: 0 auto;
}

.search-form {
  /* margin: 1em auto 0 auto; */
  width: 100%;
}

.location-form {
  width: 50%;
}

.search-row {
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 0;
  display: inline-flex;
}
.location-row {
  margin-bottom: 0.2em;
}

.search-banner {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 600px;
  display: table;
}

.search-banner-2 {
  background-image: url('https://s3-us-west-1.amazonaws.com/huntingtonwest.com/static/media/properties-banner.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 700px;
  padding-top: 17em;
  margin-top: -100px!important;

}


.search-title-banner {
  font-size: 70px;
  color: white;
  letter-spacing: 0.1em;
  font-family: 'Gill Sans', sans-serif !important;
  font-weight: lighter;
}

.search-inner {
  display: table-cell;
  vertical-align: middle;
}

.search-map {
  height: 500px;
  margin-top: 0!important;
  padding-top: 0!important;

}

.map {
  width: 100%;
  max-height: 500px;
  left: 0;
  margin-top: 0!important;
  padding-top: 0!important;


}

/* AVAILABLE PROPERTIES - PROPERTY CARDS */
/* GRID */


/*
.properties-row {
  margin: 2em auto;
}

.property-card {
  padding: 1em;
  display: table;
  margin: 1em 0;
}

.property-thumbnail {
  max-width: 400px !important;
  margin: 0 auto;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  overflow: hidden;
}

.property-thumbnail:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.property-thumbnail:hover .property-pic {
  background-color: red;
  opacity: 0.5;
}

.property-info {
  width: 100%;
  margin: 1.1em auto 0.5em auto;
  padding: 0;
  display: flex;
}

.property-main {
  margin: 0 auto;
  font-size: 20px;
}

.property-padded {
  padding: 0 1em;
}

.vertical {
  padding-right: 0.8em;
  border-right: 1px solid lightgrey;
  height: 50px;
}

.property-labels {
  font-size: 15px;
  color: darkgrey;
  margin-bottom: 0;
}

.property-desc {
  font-size: 16px;
  margin-left: 5px;
  margin-bottom: 2px;
}

.property-address, .property-availability {
  color: darkgrey;
  font-size: 14px;
  margin-left: 5px;
  margin-bottom: 0;
}

.property-buttons {
  padding-bottom: 3em !important;
}

.property-apply-button {
  background-color: #F0F0F0;
  color: darkgrey;
  float: right;
}

.property-details-button {
  background-color: darkgrey;
  color: white;
  float: right;
}
 */

 /* VERTICAL PROPERTIES */

/*
 .properties-row {
   margin: 2em 0;
   width: 100%;
   display: table!important;
 } */

 .property-card {
   /* padding: 1em; */
   /* display: table; */
   /* margin: 1em 0; */
   box-shadow: 0px 0px 57px -11px rgba(0,0,0,0.2);
   width: 100%;
   display: table!important;
   border: 1px solid #F0F0F0;
   margin: 0.3em 0!important;
}

 .property-thumbnail {
   /* max-width: 400px !important; */
   margin: 0 auto;
   overflow: hidden;
 }


 .property-thumbnail:hover {
   /* box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); */
 }

 .property-thumbnail:hover .property-pic {
   /* background-color: red; */
   opacity: 0.5;
 }

 .property-info {
   /* width: 100%; */
   margin: 1.1em auto 0 auto;
   padding: 0;
   /* display: flex; */
   text-align: left;
   display: inline-flex;
 }

 .properties-grid {
   width: 80%;
 }

 .property-main {
   margin: 0 auto;
   font-size: 21px;
   padding: 0 1em;
 }

 .property-padded {
   /* padding: 0 1em; */
 }

 .vertical {
   border-right: 1px solid lightgrey;
   border-left: 1px solid lightgrey;
   height: 50px;
 }

 .left-space {
   padding-left: 0;
 }

 .property-labels {
   font-size: 15px;
   /* color: darkgrey; */
   margin-bottom: 0;
   color: #444444;
   font-weight: lighter;
 }

 .property-desc {
   font-size: 22px;
   margin-left: 10px;
   margin-bottom: 2px;
 }

 .property-address, .property-availability {
   color: #444444;
   font-size: 16px;
   margin-left: 10px;
   margin-bottom: 0;
   font-weight: lighter;
 }

 .property-buttons-row {
   /* float: right; */
   /* padding-bottom: 3em !important; */

 }

 .small-col {
   /* float: right; */
   /* padding-bottom: 3em !important; */
   height: 100%;
   margin: 0;
   padding: 0!important;
   display: table-cell!important;

 }

 .big-col {
   /* float: right; */
   /* padding-bottom: 3em !important; */
   height: 100%;
   display: table-cell!important;

 }


 .prop-thumbnail img{
   border: none;
 }
 .prop-thumbnail {
   border: none;
   margin: 1em;
   box-shadow: none;
 }



 .property-buttons {
   float: right;
   /* padding-bottom: 3em !important; */
   /* margin-top: 2em; */
   /* vertical-align: bottom; */
   margin-right: 10px;

 }

 .property-apply-button {
   background-color: #F0F0F0;
   color: darkgrey;
   /* float: right; */
   margin-left: 8px;

 }

 .property-details-button {
   background-color: darkgrey;
   color: white;
   /* float: right; */
 }


.property-search-grid {
  width: 100%;
  padding: 0!important;
}

.property-search-row {
  width: 100%;
  margin: 0!important;
}

.props-col {
  overflow: scroll;
  max-height: 500px;
  padding: 0!important;
}




/* ABOUT */

.about-desc {
  width: 60%;
  margin: 0 auto;
  font-size: 22px;
  text-align: left;
}

@media only screen and (max-width: 1200px) {
  .about-desc {
    width: 80%;
  }
}
@media only screen and (max-width: 450px) {
  .about-desc {
    font-size: 19px;
  }
}

.dark-blue {
  height: 100%;
  display: flex;
  text-align: center;
  font-style: italic;
  font-size: 23px;
  line-height: 40px;
  font-weight: lighter;
}

.light-blue {
  background-color: #B7CED4;
  display: flex;
  text-align: left;
  height: 100%;
}

.about-row-info {
  padding: 3em;
}

.about-row {
  color: white;
  font-size: 20px;
  line-height: 32px;
  background-color: #165672;
}

.about-row-title {
  text-align: center;
  margin-bottom: 1em;
  font-style: normal;
  color: white;

}

.about-grid {
  text-align: center;
  width: 75%;
}

.about-name {
  margin-top: 0.6em;
  margin-bottom: 0.4em;
  /* font-style: italic; */
  font-size: 20px;
}

.about-position {
  /* font-style: italic; */
  font-size: 17px;
}

.about-contact {
  /* font-weight: 600; */
  font-size: 17px;
  line-height: 14px;
  letter-spacing: 0.03em;
  font-weight: normal;
}

@media only screen and (max-width: 1300px) {
  .about-grid {
    width: 85%;
  }
}

@media only screen and (max-width: 550px) {
  .about-contact, .about-position {
    font-size: 16px;
  }

  .about-grid {
    width: 95%;
  }
}
@media only screen and (max-width: 450px) {
  .about-desc {
    font-size: 19px;
  }
  .about-contact, .about-position {
    font-size: 14px;
  }
  .about-name {
    font-size: 15px;
  }
}

.thumbnail img{
  border: none;
}
.thumbnail {
  border: none;
  margin: 1em 0.2em;
  box-shadow: none;
  font-family: 'Gill Sans', sans-serif !important;
}

/* RESOURCES */

/* .title-left {
  text-align: left !important;
  margin-bottom: 1em;
} */
/*
.resource-buttons {
  margin-top: 5em;
}

.resource-button {
  font-size: 20px;
  padding: 2em 0;
  background-color: blue;
  width: 350px;
  margin-bottom: 1em;
  float: right;
} */
/*
.glyph {
  margin-right: 0.7em;
} */

.resources-second-row, .grey {
  background-color: #F0F0F0;
  width: 100%;
}

.form-list {
  /* box-shadow: none!important; */
  /* -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1); */
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.2));
}

.form-item {
  border-radius: 0 !important;
  border: none !important;
  border-bottom: 1px solid darkgrey !important;
  /* box-shadow: none!important; */
  margin: 0.1em 0;
  font-size: 18px;
}

.vertical-center-modal {
  text-align: center;
  white-space: nowrap;
}

.vertical-center-modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  width: 0;
}

.vertical-center-modal .ant-modal {
  display: inline-block;
  vertical-align: middle;
  top: 0;
  text-align: left;
}

.ant-modal-title {
    font-size: 24px!important;
    line-height: 30px!important;
    font-family: 'Gill Sans', sans-serif !important;
  }



/* CONTACT */

.contact-address {
  font-size: 18px;
  line-height: 30px;
}

.contact-pic {
  margin-bottom: 1.8em;
}

.contact-button {
  background-color: black;
  color: white !important;
  font-size: 20px !important;
  width: 8em !important;
  padding: 0.3em !important;
  text-align: center;
}

.contact-form {
  text-align: center;
  padding-bottom: 2em;
}

.left {
  text-align: left;
}

.contact-first-row {
  width: 100%;
  padding: 2em 0;
}

.contact-map {
  height: 400px;
  margin-bottom: 2em;
}

.glyph-contact {
  margin-right: 0.7em;
}

/* FOOTER */

.logos-grid, .logos-row {
  width: 100%;
  margin: 0;
  padding: 0;
}

.footer-logos {
  float: right;
  display: inline-flex;
}

.accr {
  max-height: 25px;
  margin: 1em 0.3em;
}

@media only screen and (min-width: 330px) {
  .accr {
    max-height: 30px;
    margin: 1em 0.5em;
  }
}

@media only screen and (min-width: 440px) {
  .accr {
    max-height: 45px;
    margin: 1em 1em;
  }
}

#grey {
  background-color: #F0F0F0;
}

.footer-grid {
  background-color: #1f1f1f;
  width: 100%;
  margin: 0;
  padding: 0.7em 0;
  color: rgba(255, 255, 255, 0.21);
  text-align: left;
}

.footer-emphasize {
  color: rgba(255, 255, 255, 0.6);
}

.footer-address {
  line-height: 12px;
  margin-bottom: 1.8em;
}

.footer-bottom {
  text-align: center;
}

.footer-hr {
  border: none;
  height: 1px;
  color: rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.2);
}

@media only screen and (min-width: 400px) {
  .footer-grid {
    padding: 0.7em 5em;
  }
}

@media only screen and (min-width: 1249px) {
  .footer-grid {
    padding: 0.7em 16em;
  }
}
