body {
  margin: 0;
  padding: 0;
  /* font-family: 'Molengo', sans-serif!important; */
  font-family: 'Gill Sans', sans-serif!important;

  /* overflow-x: hidden; */
}

/* NAVBAR */

.title-left {
  text-align: left!important;
  margin-bottom: 1em;
}
.resource-buttons {
  margin-top: 5em;

}
.resource-button {
  font-size: 20px;
  padding: 2em 0;
  background-color: blue;
  width: 350px;
  margin-bottom: 1em;
  float: right;
}

.title-banner {
  /* padding: 0 4em; */
}

.form-list {

  /* box-shadow: none!important; */
  -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.1), 0 6px 6px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 10px 20px rgba(0,0,0,0.1), 0 6px 6px rgba(0,0,0,0.1);
  box-shadow: 0 10px 20px rgba(0,0,0,0.1), 0 6px 6px rgba(0,0,0,0.1);
}

.form-item {
  border-radius: 0!important;
  border: none!important;
  border-bottom: 1px solid darkgrey!important;
  /* box-shadow: none!important; */
  margin: 0.1em 0;
  font-size: 20px;
}

.glyph {
    margin-right: 0.7em;
}
.glyph-contact {
    margin-right: 0.7em;
}

/* BANNER */

.img-banner {
  /* width:90%; */
  margin:0 auto;
  background-size: cover;
  height: 400px;
  width: 100%;
}

.title-banner {
  position: relative;
  margin-top: -10%;
  font-size: 70px;
  color: white;
  margin-bottom: 0;
  letter-spacing: 0.1em;
}



.title-lower-banner {
  margin-top: 1em!important;
}


.desc-container {
  padding: 3em 0em 2em 0em;
  text-align: center;
}
#areas {
  padding-bottom: 1em;
}


.title-container {
  text-align: center;
  padding-top: 1px;
}

.description {
  margin: 0em 10em;
  font-size: 18px;
}

.resources-second-row, .grey {
  background-color: lightgrey;
  width: 100%;
}

.areas {
  width: 400px;
  border-radius: 0px;
}

.dropdown-menu {
  margin-top: 0px;
  border-radius: 0px;
}

.centerBlock {
  display: table;
   margin: auto;
}

.button-form {
  background-color: black;
  color: white;
  font-size: 20px;
  width: 8em;
  padding: 0.3em;
  text-align: center;
}

.schedule-form {
  border-radius: 0;
}

.nav-tabs {
  display: table;
  margin: auto;
  z-index: -10;
}

.navitem-tab {
  width: 200px;
  height: 230px;
  margin: 0 0.2em;
  background-image: url("http://via.placeholder.com/300");
}

.city-list {
  font-size: 18px!important;
  border-radius: 0!important;
}

.about-desc {
  width:60%;
  margin: 0 auto;
  font-size: 22px;
  text-align: left;
}


/* ABOUT */

.dark-blue {
  height: 100%;
  display: flex;
  text-align: center;
  font-style: italic;
  font-size: 23px;
  line-height: 40px;
}

.light-blue {
  background-color: #B7CED4;
  display: flex;
  text-align: left;
}

.about-row-info {
  padding: 3em;
}

.about-row {
  color: white;
  font-size: 20px;
  line-height: 32px;
  background-color: #165672;

}

.about-row-title {
  text-align: center;
  margin-bottom: 1em;
  font-style: normal;
}

.about-grid {
  text-align: center;
}

.about-name {
  font-style: italic;
  font-size: 18px;
}

.about-position {
  font-style: italic;
  font-size: 13px;
}

.about-contact {
  font-weight: bold;
  font-size: 17px;
  line-height: 17px;
}

.thumbnail {
    border: none;
    box-shadow: none;
}

.search-button {
  background-color: darkred!important;
  border-radius: 0!important;
  border: none!important;
}

.search-tabs ul > li > a {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 0;
    width: 9em;
}

.search-tabs ul > li.active > a,
.search-tabs ul > li.active > a:hover,
.search-tabs ul > li.active > a:focus {
    background-color: rgba(0, 0, 0, 0.9);
}

.search-tabs ul > li > a:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

.search-tabs {
  width: 60%;
  margin: 0 auto;
}

.search-form {
   margin: 1em auto 0 auto;
   width: 100%;
}

location-form, dropdown-form {
  border-radius: 0!important;

}

.search-row {
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 0;
  display: inline-flex;
}

/* AVAILABLE PROPERTIES */

.properties-row {
  margin: 2em auto;
}

.property-card {
  padding: 1em;
  display: table;
  margin: 1em 0;
}

.property-thumbnail {
  max-width: 400px!important;
  margin: 0 auto;
  -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.1), 0 6px 6px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 10px 20px rgba(0,0,0,0.1), 0 6px 6px rgba(0,0,0,0.1);
  box-shadow: 0 10px 20px rgba(0,0,0,0.1), 0 6px 6px rgba(0,0,0,0.1);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  overflow: hidden;
}

.property-thumbnail:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.property-thumbnail:hover .property-pic {
  background-color: red;
  opacity: 0.5;
}

.property-info {
  width: 100%;
  margin: 1.1em auto 0.5em auto;
  padding: 0;
  display: flex;
}

.property-main {
  margin: 0 auto;
  font-size: 20px;
}

.property-padded {
  padding: 0 1em;
}

.vertical {
  padding-right: 0.8em;
  border-right:1px solid lightgrey;
  height:50px;
}

.property-labels {
  font-size: 15px;
  color: darkgrey;
  margin-bottom: 0;
}

.property-desc {
  font-size: 16px;
  margin-left: 5px;
  margin-bottom: 2px;
}

.property-address, .property-availability {
  color: darkgrey;
  font-size: 14px;
  margin-left: 5px;
  margin-bottom: 0;
}
.logos-grid, .logos-row {
  width: 100%;
  margin: 0;
  padding: 0;
}

.property-buttons {
  /* float: right; */
  padding-bottom: 3em!important;
}

.footer-logos {
  float: right;
  display: inline-flex;
}

.accr {
  max-height: 45px!important;
  margin: 1em 1em;

}

#grey {
  background-color: lightgrey;
}

.logos-row {
  width: 100%;
}

.property-apply-button {
  background-color: lightgrey;
  color: darkgrey;
  float: right;
}

.property-details-button {
  background-color: darkgrey;
  color: white;
  float: right;
}

.search-banner {
  background-image: url('https://s3.us-east-2.amazonaws.com/hwp-frontend/static/media/iStock-683418118.jpg');
  background-repeat:no-repeat;
  background-position: center center;
  background-size:cover;
  width: 100%;
  height: 600px;
  display:table;
}

.search-title-banner {
  font-size: 70px;
  color: white;
  letter-spacing: 0.1em;
  font-family: 'Molengo', sans-serif!important;

}

.search-inner {
  display: table-cell;
  vertical-align:middle;
}


.tab-desc {
  padding: 2em 10em;
  font-size: 18px;
}
/* CONTACT */

.contact-address {
  font-size: 18px;
  line-height: 30px;
}

.contact-pic {
  margin-bottom: 1.8em;
}

.contact-button {
  background-color: black;
  color: white!important;
  font-size: 20px!important;
  width: 8em!important;
  padding: 0.3em!important;
  text-align: center;
}

.contact-form {
    text-align: center;
    padding-bottom: 2em;
}

.left {
  text-align: left;

}

.contact-first-row {
  width: 100%;
  padding: 2em 0;
}

.contact-map {
  height: 400px;
  margin-bottom: 2em;

}
.search-map {
  height: 500px;
}

.map {
  width: 100%;
  max-height: 500px;
  left: 0;
}

.footer-grid {
  background-color: #1f1f1f;
  width: 100%;
  margin: 0;
  padding: 0.7em 0em;
  color: rgba(255, 255, 255, 0.21);
  text-align: left;
}

.footer-emphasize {
  color: rgba(255, 255, 255, 0.6);
}

.footer-address {
  line-height: 12px;
  margin-bottom: 1.8em;
}

.footer-bottom {
  text-align: center;
}

.footer-hr {
  border: none;
   height: 1px;
   color: rgba(255, 255, 255, 0.2); /* old IE */
   background-color: rgba(255, 255, 255, 0.2); /* Modern Browsers */
}

@media only screen and (min-width: 400px) {
  .footer-grid {
    padding: 0.7em 5em;
  }
}

@media only screen and (min-width: 1249px) {
  .footer-grid {
    padding: 0.7em 20em;
  }
}



html,
body {
  font-family: sans-serif;
  height: calc(100% + 150px);
  margin: 0;
  padding: 0;
}

/*
 * Navbar
 */
.navbar-default .navbar-nav li a {
  color: white;
  font-size: 15px;
  font-weight: lighter;
}

.navbar {
  border: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background: none;
}
.navbar-brand {
  padding-top: 0!important;
}
.bootstrap-nav {
  font-size: 40px;
}

 .bootstrap-navbar {
  background: rgba(0, 0, 0, 0.8);
  border: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
  min-height: 70px;
  font-size: 40px;
  border-radius: 0;
}


.navbar-nav .open .dropdown-menu > li > a{
  color: black;
  font-size: 15px;
  line-height: 30px;
  text-transform: uppercase;
}

.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height:50px;
    font-size: 25px;
  }

  .nav-item > a{
      font-size: 20px!important;
  }

@media only screen and (min-width: 1200px) {

  .navbar-inverse {
    font-size: 20px;
  }
  .navbar-nav .open .dropdown-menu {
    text-align: left;
  }
  .navbar-nav .open .dropdown-menu > li > a{
    font-size: 16px;
    line-height: 40px;
  }

  .navbar-nav > li > a {
      padding: 0.5em;
      font-size: 30px;
      text-transform: capitalize;
      font-weight: normal;
  }
}

/*
 * Header
 */
.header {
  border: 0;
  display: none;
  text-align: center;
  width: 100%;
  padding-top: 0!important;
  height: 150px!important;
  background-color: none!important;
}
.header .name {
  display: inline!important;
  margin: 0!important;
  padding-top: 0!important;
}
.links {
  /* margin-top: 25px; */
  background-color: rgba(0, 0, 0, 0.8);
  size: 20px;
  line-height: 30px;
  padding: 1em 0;
  margin-top: 0.1em;
}
.header .links a {
  color: #1367e4;
  font-size: 20px;
  font-weight: lighter;
  margin: 0 10px;
}

.navbar-nav > li > .dropdown-menu {
  background-color: rgba(0, 0, 0, 0.8)!important;
  line-height: 100px!important;
  font-size: 50px;
}



.dropdown:hover .dropdown-menu {
    display: block;
}


.submenu {
  margin-top: 0.9em!important;
  padding-right: 1em!important;

  color: white!important;
  /* background-color: rgba(0, 0, 0, 0.8)!important; */
  font-size: 16px!important;
}
.submenu-2 {
  margin-top: 0!important;
}

.bootstrap-dropdown:hover {

  color: white!important;
  style: none!important;
}

.bootstrap-dropdown:focus {
background: none!important;
}

.ant-dropdown-link {
  margin: 0em 2em!important;
  color: white!important;
}


.submenu-link, .submenu-link:hover, .submenu-link:focus, .submenu-link::after, .submenu-link::before, .submenu-link:active {
  margin-top: 3em!important;
  color: black!important;
  background: none!important;
  line-height: 100px!important;
}

.submenu-anchor, .submenu-anchor:hover, .submenu-anchor:focus, .submenu-anchor::after, .submenu-anchor::before, .submenu-anchor:active {
  color: white!important;
  background: none!important;
  line-height: 100px!important;
}


.login-button {
  min-width: 10em;
  margin-right: 1em;
  top: 0!important;
  height: 100%;
  float: right;

}

.right-col {
  float: right;
  height: 100%;
}

.header-row {
  margin-top: 1em;
  display: inline-block;
  width: 100%!important;
}

.head-logo {
  margin-left: 3em;
}

@media only screen and (max-width: 1000px) {
  .navbar {
    opacity: 1!important;
  }
}

@media only screen and (min-width: 1000px) {
  .header {
    display: inline-block;
  }

}

.submenu-anchor, .submenu, .submenu-link {
  background: none!important;
}
