{% extends 'index.html' %}

{% block body %}
<br><h1>Property Settings</h1><br>
Please note that any changes made while "For Sale" or "For Rent" are marked will be implemented immediately. Uncheck those boxes if you wish to avoid this.<br><br>
<a class="btn btn-info" href="{{url_for('administration_property.add_property_get')}}">add property</a>
<br><br>


<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" id="sort-by-display" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sort by: edit date
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a id="name" class="sort dropdown-item">Name</a>
          <a id="city" class="sort dropdown-item">City</a>
          <a id="order" class="sort dropdown-item">Edit Date</a>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" id="filter-by-display" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Filter by: All
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a id="rent" class="filter dropdown-item">For Rent</a>
          <a id="sale" class="filter dropdown-item">For Sale</a>
          <a id="rs" class="filter dropdown-item">For Rent & Sale</a>
          <a id="neither" class="filter dropdown-item">Not For Rent or Sale</a>
          <a id="reset" class="btn dropdown-item">All</a>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <button class="btn btn-secondary" id="maximize-all">maximize all</button>
      <button class="btn btn-secondary" id="minimize-all">minimize all</button>
    </div>

    <div class="col-sm-3">
      Search:  <input id="search" class="" type="text" placeholder="Search..">
    </div>

  </div>
</div>
<br>

<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">Property Info</th>
      <th scope="col">Pictures</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody id="body">
    {% for p in properties %}
    <tr class="prop-row">
      <td class="info">
        <div class="hidden order">{{ p.recent_order }}</div>
        <div class="container">

          <div class="name-row row">
            <div class="col-md-2">Name:</div>
            <div class="name search col-md-9">{{p.name}}</div>
          </div>

          <div class="row">
            <div class="col-md-2">Address:</div>
            <div class="search col-md-9">
              <div class="container">
              <div class="row">
                {{p.address_l1}}
              </div>
              {% if p.address_l2 %}
              <div class="row">
                {{p.address_l2}}
              </div>
              {% endif %}
              <div class="city row">
                {{p.city}}, {{p.state}} {{p.zipcode}}
              </div>
            </div>
            </div>
          </div>


          <div class="hidden minimize">

          <div class="row">
            <div class="col-md-2">Property type: </div>
            <div class="col-md-9">{{p.type}}</div>
          </div>

          <div class="row">
            <div class="col-md-2">Beds/Baths: </div>
            <div class="col-md-9">{{p.beds}}/{{p.baths}}</div>
          </div>

          <div class="row">
            <div class="col-md-2">Area: </div>
            <div class="col-md-9">{{ comma_num(p.area) }} sqft</div>
          </div>

          <div class="row">
            <div class="col-md-2">For sale: </div>
            {% if p.for_sale %}
            <div class="sale col-md-9">{{p.for_sale}}</div>
            {% else %}
            <div class="col-md-9">{{p.for_sale}}</div>
            {% endif %}
          </div>

          <div class="row">
            <div class="col-md-2">Sale Price: </div>
            <div class="col-md-9">${{ comma_num(p.sale_price) }}</div>
          </div>

          <div class="row">
            <div class="col-md-2">For rent: </div>
            {% if p.for_rent %}
            <div class="rent col-md-9">{{p.for_rent}}</div>
            {% else %}
            <div class="col-md-9">{{p.for_rent}}</div>
            {% endif %}
          </div>

          <div class="row">
            <div class="col-md-2">Rent Price: </div>
            <div class="col-md-9">${{ comma_num(p.rent_price) }}</div>
          </div>

          <div class="row">
            <div class="col-md-2">Is public: </div>
            <div class="col-md-9">{{ p.is_public }}</div>
          </div>

          <div class="row">
            <div class="col-md-2">Property Status: </div>
            <div class="col-md-9">{{ p.status }}</div>
          </div>

          <div class="row">
            <div class="col-md-2">Date updated: </div>
            <div class="col-md-9">{{p.date_posted}}</div>
          </div>

          <div class="row">
            <div class="col-md-2">Notes: </div>
            <div class="col-md-9">{{p.notes}}</div>
          </div>



        </div>
        <a href="" class="maximizer">see more</a>
        </div>
      </td>
      <td>
        {% for img in p.images %}
          <a href="{{img}}">view image</a><br>
        {% endfor %}
      </td>
      <td>
        <a class="btn btn-info" href="{{ url_for('administration_property.edit_property_get',property_id=p.property_id) }}">edit</a>
      </td>
      <td>
          <form class="delete simple-submit" action="{{ url_for('administration_property.delete_property') }}" method='post'>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <input type="hidden" name="id" value="{{p.property_id}}">
            <input class="btn btn-danger" type="submit" value="delete">
          </form>
      </td>
    </tr>

    {% endfor %}
  </tbody>
</table>

<script type='text/javascript' src="{{ url_for('static',filename='js/properties.js') }}"></script>

{% endblock %}
