ADD PROPERTY<br>
<a href="/property-settings">back to property settings</a>
<br><br>

<form action="/add-property" method="post">
name:<input name="name"><br>
address line 1:<input name="address_l1"><br>
address line 2:<input name="address_l2"><br>
city:<input name="city"><br>
state:<input name="state"><br>
zipcode:<input name="zipcode"><br>


property type: <input name="type"><br>
beds:<input name="beds"><br>
baths: <input name="baths"><br>

price: $<input name="price"><br>

for sale: <input type="checkbox" name="for_sale"><br>
for rent: <input type="checkbox" name="for_rent"><br>

area: <input name="area">sqft<br>
notes:<input name="notes"><br>

<input type="submit">
</form>