{% extends 'index.html' %}

{% block body %}

{% from "includes/_formhelpers.html" import render_field %}

<br><h1>Edit User</h1><br><br>
<form action="/edit-user/{{user.id}}" method="post">
<table class="table">

	<tbody>
		<tr>
			<th scope="col">First Name: </th>
			<td>{{user.first}}</td>
		</tr>
		<tr>
			<th scope="col">Last Name: </td>
			<td>{{user.last}}</td>
		</tr>
		<tr>
			<th scope="col">Email: </th>
			<td>{{user.email}}</td>
		</tr>
		<tr>
			<th scope="col">Is Admin: </th>
			<td>
					{% if user.is_admin %}
					<input type="checkbox" name="is_admin" checked><br>
					{% else %}
					<input type="checkbox" name="is_admin" ><br>
					{% endif %}

			</td>
		</tr>
	</tbody>
</table>

<input class="btn btn-info" type="submit">
</form>


{% endblock %}
