USER SETTINGS<br>
<a href="/admin-home">back to home</a>

<br><br>
USERS<br><br>
{% for u in users %}
first name:{{u.first}}<br>
last name:{{u.last}}<br>
email: {{u.email}}<br>
{% if u.is_admin %}
status:admin
{% else %}
status:user
{% endif %}
<br>
account creation date: {{u.join_date}}<br>
<a href="/edit-user/{{u.id}}">edit</a>
<form action='/delete-user' method="post">
	<input type="submit" value="delete">
</form>
<br><br>
{% endfor %}

WAITING FOR USER VERIFICATION<br><br>
{% for p in not_verified %}

first name:{{p.first}}<br>
last name:{{p.last}}<br>
email: {{p.email}}<br>
invited on: {{p.join_date}}<br>

<form action='/delete-user/{{p.id}}' method="post">
	<input type="submit" value="delete">
</form>
<br>
<br>

{% endfor %}