<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <!-- <meta name = "csrf-token" content = "{{ csrf_token() }}"/> -->
    <title>HWP Admin</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='main.css') }}">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>

  <body>

    {% include 'includes/_navbar.html' %}
    {% if alert %}
      {% if alert.status == 'success' %}
        <div class="alert alert-success" role="alert">{{alert.msg}}</div>
      {% elif alert.status == 'danger' %}
        <div class="alert alert-danger" role="alert">{{alert.msg}}</div>
      {% endif %}
    {% endif %}

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class=flashes>
        {% for category, message in messages %}
          <div class=" alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
      </div>
      {% endif %}
    {% endwith %}

    <div id="successMsg"  class="alert alert-success hidden" role="alert"></div>
    <div id="dangerMsg" class="alert alert-danger hidden" role="alert"></div>

    <div class = "container-fluid">
    {% block body %}{% endblock %}
    </div>


    <script type='text/javascript' src='{{ url_for('static',filename='js/main.js') }}'></script>
  </body>
</html>
