.hidden {
  display:none;
}
.center {
  text-align:center;
}
.bold {
  font-weight: bold;
}

img{
    max-height:200px !important;
    max-width:200px !important;
}
.field-errors {
  color:red;
}
.errors {
  color:red;
}
div.form-group {

}
.btn-space {
    margin-right: 5px;
}
