.hidden {
  display:none;
}
.center {
  text-align:center;
}
.bold {
  font-weight: bold;
}

img{
    max-height:200px !important;
    max-width:200px !important;
}
.field-errors {
  color:red;
}
.errors {
  color:red;
}
div.form-group {

}
.btn-space {
    margin-right: 5px;
}
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
                url('https://s3-us-west-1.amazonaws.com/huntingtonwest.com/gifs/ajax-loader+(1).gif') 
                50% 50%
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading .modal {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}
