
<nav class="navbar navbar-expand-lg navbar-light bg-light">

<div class="navbar-collapse">
<ul class="navbar-nav mr-auto">
  <!-- <li><a id="forum-btn">F</a></li> -->
  <li class="nav-item"><a class="nav-link" href="http://huntingtonwest.com.s3-website-us-west-1.amazonaws.com/">Go to website</a></li>
</ul>
<ul class="navbar-nav mx-auto">
  {% if current_user.is_authenticated %}

  <li class="nav-item"><a class="nav-link" href="{{ url_for('administration_general.admin_home_get') }}">Admin Home</a></li>
  <li class="nav-item"><a class="nav-link" href="{{ url_for('administration_users.user_settings_get') }}">Users</a></li>
  <li class="nav-item"><a class="nav-link" href="{{ url_for('administration_property.property_settings') }}">Properties</a></li>
  <li class="nav-item"><a class="nav-link" href="{{ url_for('administration_emails.email_settings') }}">Forms</a></li>
  <li class="nav-item"><a class="nav-link" href="{{ url_for('administration_associations.association_settings') }}">Associations</a></li>
  <li class="nav-item"><a class="nav-link" href="{{ url_for('administration_about.about_settings') }}">Employee Info</a></li>
  <li class="nav-item"><a class="nav-link" href="{{ url_for('administration_files.file_settings') }}">Files</a></li>
  <li class="nav-item"><a class="nav-link" href="{{ url_for('administration_general.admin_faq') }}">FAQ</a></li>


  {% endif %}

</ul>
<ul class="navbar-nav ml-auto">
  {% if current_user.is_authenticated %}
  <li class="nav-item"><a class="nav-link" href="{{ url_for('administration_general.personal_settings') }}">{{current_user.first}} {{current_user.last}}</a></li>
  <li class="nav-item"><a class="nav-link" href="{{ url_for('administration_general.logout') }}">Logout</a></li>
  {% else %}
  <li class="nav-item"><a class="nav-link" href="{{ url_for('administration_general.login') }}">Login</a></li>
  {% endif %}
</ul>

</div>

</nav>
