{% extends 'index.html' %}

{% block body %}
{% from "includes/_formhelpers.html" import render_field %}
{% from "includes/_history.html" import render_history %}


<br><h1>Edit File</h1><br><br>
Please note that any changes made will be implemented immediately.<br><br>
<form action="{{ url_for('administration_files.edit_file', id=file.file_id) }}" method='post' enctype="multipart/form-data">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
  {{ render_field(form.file_name, class_="form-control", value=file.file_name)}}

  {% if file.file_url %}
    <img id="img-preview" src="{{file.file_url}}" class="img-fluid" alt="Responsive image"></img>

  {% else %}
    <img id="img-preview" src="" class="hidden img-fluid" alt="Responsive image"></img>

    There is no uploaded file.
  {% endif %}
  <br><br>
  <input id="file-upload" type="file" name="user_file"><br></br>
  <button type="submit">Upload</button>
</form>
<br><br><br>

<h1>This file's history</h1><br>
{{ render_history(file.history) }}
<script type='text/javascript' src="{{ url_for('static',filename='js/img_render.js') }}"></script>

{% endblock %}
