{% extends 'index.html' %}

{% block body %}
<br><h1>File Settings</h1><br><br>
Please note that any changes made will be implemented immediately<br><br>
<a class="btn btn-info" href="{{ url_for('administration_files.add_file') }}">Add File</a><br><br>

<table class="table">
  <thead>
    <th scope="col">Filename</th>
    <th scope="col">File Link</th>
    <th scope="col">Date Updated</th>
    <th scope="col">Edit</th>
    <th scope="col">Delete</th>
  </thead>
  <tbody>
    {% for f in files %}
    <tr>
      <td>{{ f.file_name }}</td>
      <td><a href="{{ f.file_url }}">view file</a></td>
      <td>{{ pst_time(f.date) }}</td>
      <td><a class = "btn btn-info" href="{{ url_for('administration_files.edit_file',id=f.file_id)  }}">edit</a></td>
      <td>
        <form action="{{ url_for('administration_files.delete_file') }}" method='post'>
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
          <input type="hidden" name="id" value="{{f.file_id }}">
          <input class="btn btn-danger" type="submit" value="delete">
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>




{% endblock %}
