CONSULTATION FORM<br><br>

<form  action="/consultation-form" method="post">

	<input name="first_name" value="joe">
	<input name="last_name" value="smith">
	<input name="email" value="sd@gmail.com">
	<input name="phone_num" value="4081234567">
	<input name="regarding" value="Association Management">
	<input name="msg" value="this is a message">
	<input type="submit" value="submit">
</form>
<br><br>

CONTACT FORM<br><br>
<form  action="/contact-form" method="post">

	<input name="first_name" value="joe">
	<input name="last_name" value="smith">
	<input name="subject" value="Association">
	<input name="email" value="sd@gmail.com">
	<input name="phone_num" value="4081234567">
	<input name="association" value="Birchview Brea Homeowners Association">
	<input name="unit" value="234">
	<input name="msg" value="this is a message">
	<input type="submit" value="submit">
</form>