{% extends 'index.html' %}

{% block body %}
{% from "includes/_formhelpers.html" import render_field %}

<br><h1>Forgot Password</h1><br><br>
Enter your email and a link to change your password will be sent to you.<br><br>

<form  class="simple-submit" action="{{ url_for('administration_general.forgot_password') }}" method='post'>
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
  <input type="hidden" name="id" value="1">
  {{ render_field(form.email, class="form-control") }}
  <input type="submit" class="btn btn-info">
</form>


{% endblock %}
