{% extends 'index.html' %}

{% block body %}

{% from "includes/_formhelpers.html" import render_field %}
<br><h1>Login</h1><br><br>

<form action="/login" method="post">
<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
{{ render_field(form.email, class="form-control") }}
{{ render_field(form.password, class="form-control") }}

	<input class="btn btn-info" type="submit">
</form>
<br><br>
<a class="btn btn-secondary" href="{{ url_for('administration_general.forgot_password') }}">Forgot password</a>

{% endblock %}
