{% extends 'index.html' %}

{% block body %}
{% from "includes/_formhelpers.html" import render_field %}

<h1>REGISTER</h1><br><br>

<form method="post">
	<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
	{{ render_field(form.first_name, class_="form-control") }}
	{{ render_field(form.last_name, class_="form-control") }}
	{{ render_field(form.password, class_="form-control") }}
	{{ render_field(form.confirm, class_="form-control") }}

	<input class="btn btn-info" type="submit">
</form>

{% endblock %}
