{% extends 'index.html' %}

{% block body %}

{% from "includes/_formhelpers.html" import render_field %}
{% from "includes/_history.html" import render_history %}

<br><h1>Add Association</h1><br><br>
<form action="{{ url_for('administration_associations.edit_association', acn_id=acn.acn_id) }}" method='post'>
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
  {{ render_field(form.acn_name, class_='form-control', value=acn.acn_name) }}
  {{ render_field(form.acn_loc, class_='form-control', value=acn.acn_loc) }}
  <input class="btn btn-info" type="submit">
</form>
<br>
<form class="delete" action = "{{url_for('administration_associations.delete_association')}}" method='post'>
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
  <input type="hidden" name="acn_name"   value="{{acn.acn_name}}">
  <input type="hidden" name="acn_id"   value="{{acn.acn_id}}">
  <input class="btn btn-info" type="submit" value="delete">
</form>
<br><br><br>


{{ render_history(acn) }}


{% endblock %}
